.about {
    padding: 110px 16px 0;

    @media (min-width: $over-mobile) {
        padding: 124px 16px 0;
    }

    @media (min-width: $over-tablet) {
        padding: 134px 16px 0;
    }

    &__title {
        margin: 48px 0;
        font-size: 24px;
        text-align: center;

        @media (min-width: $over-mobile) {
            margin: 64px 0;
            font-size: 32px;
        }

        @media (min-width: $over-tablet) {
            margin: 80px 0;
            font-size: 48px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 48px;

        @media (min-width: $over-mobile) {
            flex-direction: row;
        }
    }

    &__logo {
        margin-bottom: 16px;
        @media (min-width: $over-mobile) {
            padding-top: 16px;
            margin-right: 48px;
        }
        &--bim {
            width: 160px;
            height: 96px;
            @media (min-width: $over-mobile) {
                height: 112px;
            }
        }

        &--sajmon {
            width: 200px;
            height: 120px;
            @media (min-width: $over-mobile) {
                padding-top: 32px;
                height: 152px;
            }
        }
    }

    &__describe {
        text-align: center;
        margin: 0;
        @media (min-width: $over-mobile) {
            text-align: left;
            max-width: 1000px;
        }
    }

    &__list {
        padding: 0;
        margin: 0 0 64px 0;
        @media (min-width: $over-mobile) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &-grid {
            @media (min-width: $over-mobile) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 32px;
                max-width: 1000px;
            }
        }

        &-item {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 32px;
        }

        &-description {
            text-align: center;
            font-weight: 600;
            margin: 0 0 24px 0;
        }

        &-image {
            width: 160px;
            height: 160px;
        }

        &-paragraph {
            text-align: center;
            color: $text2;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &__paragraphs {
        max-width: 1260px;
        margin: 0 auto;
    }

    &__paragraph {
        margin: 0 0 16px 0;
        text-align: center;
        &--last {
            margin-bottom: 64px;
            @media (min-width: $over-mobile) {
                margin-bottom: 128px;
            }
        }
    }
}
