.site-header {
    z-index: 2;
    background-color: $ui1;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__container {
        position: relative;
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__logo {
        width: 96px;
        height: 72px;
        margin: 16px 0 16px 16px;
    }

    &__languages {
        position: absolute;
        top: 0;
        right: 0;
        margin: 16px 8px 0 0;
    }

    &__flag {
        width: 24px;
        height: 16px;
        margin-right: 16px;
        border: 1px solid #000000;
    }

    &__hamburger {
        padding: 0;
        margin: 0;
        border: none;
        outline-color: $ui2;
        outline-width: 0;
        position: absolute;
        right: 0;
        top: 68px;
        margin-right: 16px;
        height: 24px;
        width: 24px;
        &--div {
            width: 24px;
            height: 3px;
            background-color: $ui6;
            margin-bottom: 5px;
            transition: all 0.3s ease;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__navigation {
        @media (min-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-right: 126px;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (max-width: 768px) {
            position: absolute;
            right: 0;
            height: 80vh;
            top: 108px;
            background-color: $ui3;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__item {
        position: relative;
        transition: all 0.3s linear;
        width: 100%;
        text-align: center;
        &:hover {
            background-color: $hover;
        }
        &:hover .site-header__link {
            color: $ui1;
        }
        &:hover .oferts-sublist {
            display: block;
            opacity: 1;
        }
        @media (min-width: 768px) {
            margin-right: 48px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            margin-right: 16px;
        }
    }

    &__link {
        padding: 8px;
        color: $text2;
        font-size: 16px;
        display: inline-block;
        text-decoration: none;
        @media (min-width: 768px) {
            opacity: 1;
            font-size: 20px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 18px;
        }
    }
}

.oferts-sublist {
    min-width: 100%;
    padding: 0;
    display: none;
    opacity: 0;
    list-style: none;
    background-color: $ui4;
    position: absolute;
    z-index: 1;

    &__link {
        color: $text2;
        text-decoration: none;
    }

    &__item {
        padding: 8px;
        transition: all 0.3s linear;
        min-width: 100%;
        text-align: center;
        border-bottom: 1px solid #121232;
        &:hover {
            background-color: $ui5;
        }
        &:hover .oferts-sublist__link {
            color: $ui1;
        }
    }
}

.nav-activate {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes linkAnimation {
    from {
        opacity: 0;
        transform: translateX(64px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
