.site-header {
    background-color: $ui1;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__container {
        position: relative;
    }

    &__logo {
        width: 96px;
        height: 72px;
        margin: 16px 0 16px 16px;
    }

    &__languages {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 16px;
    }

    &__flag {
        width: 24px;
        height: 16px;
        margin-right: 16px;
        border: 1px solid #000000;
    }

    &__hamburger {
        padding: 0;
        margin: 0;
        border: none;
        outline-color: $ui2;
        outline-width: 0;
        position: absolute;
        right: 0;
        top: 68px;
        margin-right: 16px;
        height: 24px;
        width: 24px;
        &--div {
            width: 24px;
            height: 3px;
            background-color: $ui6;
            margin-bottom: 5px;
            transition: all 0.3s ease;
        }
    }

    &__navigation {
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (max-width: 768px) {
            position: absolute;
            right: 0;
            height: 80vh;
            top: 108px;
            background-color: $ui3;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
    }

    &__link {
        color: $text2;
        opacity: 0;
        font-size: 16px;
        display: inline-block;
    }
}

.nav-activate {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes linkAnimation {
    from {
        opacity: 0;
        transform: translateX(64px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}