.site-header {
    background-color: $ui1;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__container {
        position: relative;
    }

    &__logo {
        width: 96px;
        height: 72px;
        margin: 16px 0 16px 16px;
    }

    &__languages {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 16px;
    }

    &__flag {
        width: 24px;
        height: 16px;
        margin-right: 16px;
        border: 1px solid #000000;
    }

    &__hamburger {
        position: absolute;
        right: 0;
        top: 68px;
        margin-right: 16px;
        height: 24px;
        width: 24px;
        &--div {
            width: 24px;
            height: 3px;
            background-color: $ui6;
            margin-bottom: 5px;
        }
    }

    &__navigation {
        display: none;
    }

    &__link {
        color: $text2;
    }
}