$brand1: #121232;
$brand2: #4E4E5A;
$brand3: #727279;

$text1: #232735;
$text2: #505565;
$text3: #8B90A0;

$ui1: #fff;
$ui2: #FAFAFC;
$ui3: #F0F1F3;
$ui4: #D3D4D8;
$ui5: #A1A4B1;
$ui6: #232735;
$ui7: #000000;

$hover: #3E465F;

$blue3: #576385;
$blue2: #c0d0f3;
$blue1: #d9e2f5;

$over-mobile: 768px;
$over-tablet: 1024px;