@import "~normalize.css";
@import "_variables";
@import "modules/site-header.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $ui3;
  color: $text1;
  display: flex;
  align-items: center;
  justify-content: center;
}
