@import "~normalize.css";
@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@import 'modules/hero.scss';
@import 'modules/offerts.scss';
@import 'modules/navigation.scss';
@import 'modules/articles/scanning';
@import 'modules/articles/bim';
@import 'modules/articles/modeling';
@import 'modules/references.scss';
@import 'modules/projects.scss';
@import 'modules/contact.scss';
@import 'modules/footer.scss';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F0F1F3;
}
::-webkit-scrollbar-thumb {
    background: #C2C3C7;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #A0A1A5;
}

body {
    background: $my_white;
    color: $anthracite;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    line-height: 32px;
    font-size: 16px;
}
